*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

.lineone {
    background-image: url(./img/Vectorline1.svg) !important;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: 50% 0;
}
.linetwo {
    background-image: url(./img/Vector2.png) !important;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 25% 0;
}
.row.moving_forverd {
    align-items: center;
}
.hero_content {
    text-align: left;
}

.hero_content {
    margin-left: 28%;
    margin-top: -2%;
}
.hero_content h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 82px;
    color: #393939;
}
.hero_content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #393939;
    margin-bottom: 59px;
}
a.buton1 {
    background: #5760FB;
    border-radius: 8px;
    color: #fff;
    padding: 18px 30px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
a.button2 {
    border: 2px solid #000000;
    border-radius: 8px;
    color: #000;
    padding: 18px 30px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}


.row.the_compny h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #393939;
    margin-left: 14%;
    margin-top: -59px;
    line-height: 42px;
}
.row.the_compny h1 span {
    font-weight: 700;
}
.icon_with_hover1 {
    position: relative;
}
span.Blockone1 {
    position: absolute;
    left: 14%;
    top: -5px;
}
span.Blockone2 {
    position: absolute;
    left: 41%;
    top: -5px;
}
span.Blockone3 {
    position: absolute;
    left: 63%;
    top: -9px;
}
.icon_with_hover2 {
    position: relative;
}
span.Blockone4 {
    position: absolute;
    left: 51%;
    top: 172px;
}
.icon_with_hover3 {
    position: relative;
}
span.Blockone5 {
    position: absolute;
    top: 353px;
    left: 19%;
}
span.Blockone6 {
    position: absolute;
    left: 42%;
    top: 346px;
}
span.Blockone7 {
    position: absolute;
    left: 64%;
    top: 348px;
}

p.title_card {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
p.card_para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 9px;
    color: #373737;
}
p.card_paradescr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #202020;
}
.box_content p.blue_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 30px;
    letter-spacing: 0.23em;
    color: #5760FB;
    margin-bottom: 0;
}
.box_content h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #000000;
}
p.box_para_desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 30px;
    color: #000000;
}

.contact_content h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
}
.contact_content p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}
.contact_content h2 span {
    font-weight: 600;
}
button.btn.btn-primary {
    background: #5760FB;
    border-radius: 8px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

section#contact_form {
    background-image: url(img/bananercontact.png);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 525px;
}

.contactform {
    width: 470px;
    height: 628px;
    background: #FFFFFF;
    box-shadow: 0px 16px 133px 24px rgba(114, 122, 255, 0.29);
    border-radius: 40px;
    padding: 50px;
    margin-left: auto;
    margin-top: 35px;
}


section#contact_form .form-control {
    border-bottom: 1px solid #CDCDCD !important;
    border-radius: 0;
    border: 0;
}


input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    color: #CDCDCD;
}

p.titleform {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 62px;
    color: #393939;
}

div#emailHelp {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #4E4E4E;
}
.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -80px;
  background: #FFFFFF;
  box-shadow: 0px 16px 64px rgb(48 48 48 / 8%);
  border-radius: 16px;
  width: 400px;
  padding: 20px;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
footer {
    background: #EAEBFA;
    padding-top: 14%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
/*footer .row {
    align-items: center;
}*/
footer ul li {
    list-style: none;
}
.logo_footer {
    margin-top: 50%;
}
.logo_footer h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 88px;
    letter-spacing: 0.292em;
    color: #000000;
}
footer ul {
    padding-left: 0;
}
h4.titlemenu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #393939;
    margin-bottom: 15px;
}
li.submenu_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #393939;
}
footer ul li {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #393939;
}
li.submenu_title a {
   color: #393939;
   text-decoration: none;
}
li.menu_footer a{
    color: #393939;
   text-decoration: none;
}
.contact_content {
    margin-top: 45%;
}